/* * {
    box-sizing: border-box;
  } */
  .container {
    display:flex;
    /* background: red; */
}

.red {
    background:orangered;
    flex-grow:1;
}

.green {
    background: yellowgreen;
flex-grow:4;
}

.blue {
    background: steelblue;
}
.container > div {
    font-size:5vw;
    padding:100px;
    color:white;
}